.get-started-btn {
  position: absolute;
  z-index: 2;
  margin-top: 350px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  height: 48px;
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.get-started-btn:hover {
  background-color: var(--primary-transparent);
  color: white;
}

.get-started-btn:active {
  background-color: var(--primary-color);
}
