.front-explore-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--primary-color);
  width: fit-content;
  border-radius: 20px;
  color: white;
  align-self: center;
  margin-top: 50px;
}

.front-explore-btn:hover {
  background-color: var(--primary-transparent);
}

.front-explore-btn:active {
  background-color: black;
  color: white;
}
